@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-primary: #00715d;
  --color-primary-50: #c9e8dd;
  --color-primary-100: #0b5949;
  --color-primary-200: #c3ddd4;
  --color-primary-300: #0a4833;
  --color-primary-400: #083d32;

  --color-error-600: #d92d20;
  --color-error-700: #b42318;

  --color-green-light-500: #66c61c;

  --color-ivory: #f9f4e8;
  --color-heading: #101828;
  --color-gray: #535c6b;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #647474;
  --color-gray-500: #667085;
  --color-gray-700: #344054;

  --color-warning-500: #f79009;
  --color-orange-500: #ef6820;
  --p-select-overlay-background: #f9f4e8 !important;
  --p-select-dropdown-color: #00715d !important;
  --p-select-option-focus-background: #00715d !important;
  --p-select-option-focus-color: #f9f4e8 !important;
  --p-select-clear-icon-color: #00715d !important;

  --p-popover-content-padding: 0 !important;

  --p-datatable-row-background-color: transparent;
  --p-datatable-row-background: transparent !important;
}

html.dark {
  --color-primary: #f9f4e8;
  --color-primary-500: #00715d;
  --color-heading: #f9f4e8;

  --p-select-overlay-background: #00715d !important;
  --p-select-option-focus-background: #f9f4e8 !important;
  --p-select-option-focus-color: #00715d !important;
  --p-select-option-color: #f9f4e8 !important;
}

/* Ẩn nút lên xuống trong input type="number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}
