@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-primary: #00715d;
  --color-primary-100: #0b5949;
  --color-ivory: #f9f4e8;
  --color-heading: #101828;

  --p-select-overlay-background: #f9f4e8 !important;
  --p-select-dropdown-color: #00715d !important;
  --p-select-option-focus-background: #00715d !important;
  --p-select-option-focus-color: #f9f4e8 !important;
  --p-select-clear-icon-color: #00715d !important;
}

html.dark {
  --color-primary: #f9f4e8;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}
